{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container container-margin">
        <div class="mb-5 rounded-3 about-head">
            <div class="col-md-4 col-sm-12 bg-light about-head-text">
                <h2 class="display-5 fw-bold hand-writing">Learn more about us!</h2>
                <p class="col-md-12 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam debitis dolore est ipsa nesciunt obcaecati rerum sequi sint tempora voluptates!</p>
            </div>
            <div class="col-md-8"></div>
        </div>

        <div class="container-75" id="about-detail">
            <div class="row align-items-md-stretch">
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 p-5 ">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 rounded-3 about-img-page">
                        <img src="/assets/images/pasta-1181189_1920.jpg" alt="pasta">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 rounded-3 about-img-page">
                        <img src="/assets/images/pasta-1181189_1920.jpg" alt="pasta">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 p-5 ">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 p-5 ">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 rounded-3 about-img-page">
                        <img src="/assets/images/pasta-1181189_1920.jpg" alt="pasta">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 rounded-3 about-img-page">
                        <img src="/assets/images/pasta-1181189_1920.jpg" alt="pasta">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="h-100 p-5 ">
                        <h2>Add borders</h2>
                        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                    </div>
                </div>

            </div>

        </div>


    </div>

{% endblock %}