{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container container-75 container-margin" id="add-recipe">
        <h2 class="display-4 text-center">Edit Recipe : {{ recipe.title}} </h2>
        {% include 'Recipe/_form.html.twig' %}
        <a class="btn button-orange" href="/recipes/show?id={{ recipe.id }}">Back to Recipe</a>
    </div>

{% endblock %}
